<div class="menus-container">
  <mat-toolbar>
    <span class="title">{{ title() }}</span>
    <app-links />
    <app-theme />
    <app-get-code />
  </mat-toolbar>
</div>

<div class="hiden-menu">
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="title">{{ title() }}</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="onToggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

    @if(toggleMenu()){
    <mat-toolbar-row>
      <app-links />
      <span class="spacer"></span>
      <app-theme />
      <app-get-code />
    </mat-toolbar-row>
    }
  </mat-toolbar>
</div>
