table{
    width: 80%;
}
.container {
  position: relative;
}
.loading-shade {
  position: absolute;
  top: 10rem;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container {
  margin: 3rem 1rem;
  position: relative;
  min-height: 20rem;
  max-height: 50rem;
  overflow: auto;
}
